@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;800;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900 !important;
}

a {
  text-decoration: none;
  transition: all 0.4s ease;
  font-weight: 800;
}

img {
  width: 100%;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: 2;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(90, 90, 90, 0.8), rgba(2, 2, 2, 0.8));
  z-index: -1;
}

.bg-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.home-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 14px 22px;
  transition: all 0.3s ease;
}

.btn-main {
  background: linear-gradient(to right, #8c7a44, #d9bf6b);
  border-radius: 10px;
  border: none;
  font-weight: 600;
  color: #fff;
}

.btn:hover {
  color: #fff;
  transform: translateY(-5px);
}

.navbar {
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
}

.section-intro {
  margin-bottom: 40px;
}

.section-intro .divider {
  height: 4px;
  width: 70px;
  background: linear-gradient(to right, #8c7a44, #d9bf6b);
  margin: 5px auto;
}

form .form-control {
  border-radius: 0;
  background: transparent;
  color: #fff;
  border-color: rgba(255, 255, 255, 0.5);
}

form .form-control:focus {
  color: #fff;
  background: transparent;
  border-color: #fff;
}

form input.form-control {
  height: 54px;
}

form .form-control::placeholder {
  color: #fff;
}

footer {
  background: linear-gradient(to right, #8c7a44, #d9bf6b);
  color: #fff;
}

.iconbox {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  background: linear-gradient(to right, #8c7a44, #d9bf6b);
  color: #fff;
}
